.staff__member {
  width: 235px;
  height: 200px;
  border-radius: 10.5px;
  border: 0.699px solid rgba(112, 112, 112, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 17px 22px;
  margin-top: 45px;
  transition: 0.3s;
  margin: 0 10px 0 10px;
}
.staff__member:hover {
  border: 0.699px solid #F9A755;
  box-shadow: 0px 30px 30px 13px rgba(198, 198, 198, 0.25);
  transition: 0.3s;
}
.staff__member button {
  width: 145px;
  height: 50px;
  background-color: #FFC12F;
  color: #fff;
  border-radius: 6px;
  height: 25px;
}