.orders__main {
  width: 73%;
  height: 100%;
  position: relative;
}
.orders__main-header {
  width: 100%;
  height: auto;
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.orders__main-header .row {
  display: flex;
  gap: 15px;
}
.orders__main-header input {
  width: 450px;
  height: 50px;
  border-radius: 4px;
  padding: 0 15px;
  border: 1px solid #FFC12F;
}
.orders__main-header button {
  width: 145px;
  height: 50px;
  background-color: #FFC12F;
  color: #fff;
  border-radius: 6px;
}
.orders__main-header p {
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 400;
}